@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all";
@import "partials/checkbox";

.h90vh {
    height: 90vh;
}
.h10vh {
    height: 10vh;
}
.h70vh {
    height: 70vh;
    
}

.ms_toast {
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    transition: all 0.5s;
    color: white;
}

.ms_line {

    height: 4px;
    background-color: white;
    border-radius: 5px;
    width: 0px;
    transition: width 4.7s linear;
    margin-top: 5px;
} 

.ms_hidden {
    padding: 0;
    overflow: hidden;
    width: 0px;
    height: 0px;
    opacity: 0;
}


.ms_border {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
}
