.modal-services {    

    label {
        cursor: pointer;
        width: 100%;
        border: 2px solid #dee2e6;
        border-radius: 5px;
        user-select: none;
        padding: 5px;

        img {
            max-width: 20px;
        }
    }
}



.check-service[type="checkbox"] {
    display: none;
}

.check-service[type="checkbox"]:checked+label {
    color: #705D3F;
    border: 2px solid #705D3F;

    img {
        filter: invert(24%) sepia(25%) saturate(356%) hue-rotate(7deg) brightness(89%) contrast(85%);
    }

}