.image-preview {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid var(--primary-color);

    &::before {
        content: '';
        display: inline-block;
        position: fixed;
        width: 50px;
        height: 50px;
        background-color: black;
    }
}

.x-image::before {
    font: var(--fa-font-solid);
        content: '\f057';
        font-size: 20px;
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 10px;
        cursor: pointer;
        z-index: 10;
}